<html lang="en" layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
  <title>Lista de configuraciones de doctor</title>
</head>
<body>
<main>
  <div class="container-fluid px-4" layout:fragment="body">
    <h1 class="mt-4">Configuraciones de doctor</h1>
    <a class="btn btn-primary m-3" th:href="@{doctorsconfig/new}">Agregar nueva configuración</a>
    <div class="card mb-4">
      <div class="card-body">
        <table class="display nowrap" id="data-list">
          <thead>
          <tr>
            <th>Doctor</th>
            <th>Centro médico</th>
            <th>Tipo de servicio</th>
            <th>Porcentaje</th>
            <th>M.</th>
            <th>E.</th>
          </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</main>
</body>
</html>

