<html lang="en" layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
  <title>Lista de doctores</title>
</head>
<body>
<main>
  <div class="container-fluid px-4" layout:fragment="body">
    <h1 class="mt-4">Doctores</h1>
    <a class="btn btn-primary m-3" th:href="@{doctors/new}">Agregar nuevo doctor</a>
    <div class="card mb-4">
      <div class="card-body">
        <table id="datatablesSimple">
          <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>M.</th>
            <th>E.</th>
          </tr>
          </thead>
          <tfoot>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>M.</th>
            <th>E.</th>
          </tr>
          </tfoot>
          <tbody>
          <tr th:each="doctor: ${doctors}">
            <td><p th:text="${doctor.id}"></p></td>
            <td><p th:text="${doctor.name}"></p></td>
            <td><a
                th:href="@{/doctors/{doctorId}/edit(doctorId=${doctor.id})}"><i
                class="fa-solid fa-pen-to-square fa-xl"></i></a></td>
            <td><a
                th:href="@{/doctors/{doctorId}/delete(doctorId=${doctor.id})}"><i
                class="fa-solid fa-trash fa-xl"></i></a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
</body>
</html>

