<html lang="en" layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
  <title>MedicCenter Edit</title>
</head>
<body>
<main>
  <div class="container-fluid px-4" layout:fragment="body">
    <!-- Page Content-->
    <section class="py-5">
      <div class="container">
        <form class="row g-3" method="post" role="form"
              th:action="@{/mediccenters/new}"
              th:object="${mediccenter}">
          <input th:field="*{id}" type="hidden">
          <div class="col-md-6">
            <label class="form-label" for="inputName">Nombre</label>
            <input class="form-control" id="inputName" th:field="*{name}" type="text">
          </div>
          <div class="col-md-6">
            <label class="form-label" for="inputEmail">Email</label>
            <input class="form-control" id="inputEmail" th:field="*{email}" type="email">
          </div>
          <div class="col-md-6">
            <label class="form-label" for="inputAddress">Dirección</label>
            <input class="form-control" id="inputAddress" placeholder="Gran via les corts catalanes"
                   th:field="*{address}" type="text">
          </div>
          <div class="col-md-6">
            <label class="form-label" for="managementFee">Costo fijo</label>
            <input class="form-control" id="managementFee" step="any" th:field="*{managementFee}" type="number">
          </div>
          <div class="col-12">
            <button class="btn btn-primary" type="submit">Crear</button>
          </div>
        </form>
      </div>
    </section>
  </div>
</main>
</body>
</html>