<html lang="en" layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
  <title>Lista de centros médicos</title>
</head>
<body>
<main>
  <div class="container-fluid px-4" layout:fragment="body">
    <h1 class="mt-4">Centros médicos</h1>
    <a class="btn btn-primary m-3" th:href="@{mediccenters/new}">Agregar nuevo centro</a>
    <a class="btn btn-primary m-3 float-end csv">Exportar CSV</a>
    <div class="card mb-4">
      <div class="card-body">
        <table id="datatablesSimple">
          <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Email</th>
            <th>Costo fijo</th>
            <th>M.</th>
            <th>E.</th>
          </tr>
          </thead>
          <tfoot>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Email</th>
            <th>Costo fijo</th>
            <th>M.</th>
            <th>E.</th>
          </tr>
          </tfoot>
          <tbody>
          <tr th:each="mediccenter: ${medicCenters}">
            <td><p th:text="${mediccenter.id}"></p></td>
            <td><p th:text="${mediccenter.name}"></p></td>
            <td><p th:text="${mediccenter.address}"></p></td>
            <td><p th:text="${mediccenter.email}"></p></td>
            <td><p th:text="${mediccenter.managementFee}"></p></td>
            <td><a
                th:href="@{/mediccenters/{medicCenterId}/edit(medicCenterId=${mediccenter.id})}"><i
                class="fa-solid fa-pen-to-square fa-xl"></i></a></td>
            <td><a
                th:href="@{/mediccenters/{medicCenterId}/delete(medicCenterId=${mediccenter.id})}"><i
                class="fa-solid fa-trash fa-xl"></i></a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
</body>
</html>

