<html lang="en" layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
  <title>Editar configuración de centro médico</title>
</head>
<body>
<main>
  <div class="container-fluid px-4" layout:fragment="body">
    <h1 class="mt-4">Editar configuración de centro médico</h1>
    <section class="py-5">
      <div class="container">
        <form class="row g-3" method="post" role="form"
              th:action="@{/mediccentersconfig/{medicCenterId}/{serviceTypeId}/{healthInsuranceId}/edit(medicCenterId=${mediccenterconfig.id.medicCenterId},serviceTypeId=${mediccenterconfig.id.serviceTypeId},healthInsuranceId=${mediccenterconfig.id.healthInsuranceId})}"
              th:object="${mediccenterconfig}">
          <input th:field="*{id.medicCenterId}" type="hidden">
          <input th:field="*{id.serviceTypeId}" type="hidden">
          <input th:field="*{id.healthInsuranceId}" type="hidden">
          <input th:field="*{medicCenter}" type="hidden">
          <input th:field="*{serviceType}" type="hidden">
          <input th:field="*{healthInsurance}" type="hidden">
          <div class="col-md-12">
            <label class="form-label">Centro médico</label>
            <label class="form-control" th:text="*{medicCenter.name}"></label>
          </div>
          <div class="col-md-12">
            <label class="form-label">Tipo de servicio</label>
            <label class="form-control" th:text="*{serviceType.name}"></label>
          </div>
          <div class="col-md-12">
            <label class="form-label">Servicio</label>
            <label class="form-control" th:text="*{healthInsurance.name}"></label>
          </div>
          <div class="col-md-6">
            <label class="form-label" for="inputPercentage">Porcentaje</label>
            <input class="form-control" id="inputPercentage" step="any" th:field="*{percentage}" type="number">
            <p class="text-danger" th:errors="*{percentage}" th:if="${#fields.hasErrors('percentage')}">
          </div>
          <div class="col-12">
            <button class="btn btn-primary" type="submit">Editar</button>
          </div>
        </form>
      </div>
    </section>
  </div>
</main>
</body>
</html>